<h1>Create a New Post</h1>

<%= form_for(@post) do |f| %>
  <% @post.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit 'Create Post', class: 'btn btn-primary' %>
  </p>
<% end %>