<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnlyAuthentication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/site_header'%>
    <div class="container">
      <% flash.each do |type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{type}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
